.menu {
  background-color: var(--mainColor);
  color: var(--textColor);
  height: 60px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav_links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
