.menu {
  background-color: var(--mainColor);
  width: 100%;
  color: var(--textColor);
  height: 70px; /* 7vh * 10px */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px; /* 1.8vh * 10px */
}

.nav_links {
  color: white;
  text-decoration: none;
  padding: 5px 10px; /* 0.5vh * 10px 1vh * 10px */
}

.nav_links:hover {
  background-color: #1888ff;
  border-radius: 4px;
  padding: 5px 10px; /* 0.5vh * 10px 1vh * 10px */
  transition: all 0.2s ease-out;
}

.logout {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  padding: 5px 10px; /* 0.5vh * 10px 1vh * 10px */
}

.logout:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.cadastrar {
  color: white;
  background: var(--secondaryColor);
  border-radius: 4px;
  text-decoration: none;
  padding: 5px 10px; /* 0.5vh * 10px 1vh * 10px */
}

.cadastrar:hover {
  background-color: #1888ff;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
